<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_jQeAmyGK5gZasmpmowgQEeJXXVrs0j4</string>
	<key>GCM_SENDER_ID</key>
	<string>795264017051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mindStressRedApp</string>
	<key>PROJECT_ID</key>
	<string>mindfulness-stress-reduction</string>
	<key>STORAGE_BUCKET</key>
	<string>mindfulness-stress-reduction.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795264017051:ios:b1e04b63f13d811bc15c3e</string>
</dict>
</plist>